<html>
<body>
	{% block content %}
	<div style="text-align:center;margin-left:auto;margin-right:auto;display:table;"> 
		<form action="{% url 'barpage' %}" method="get">
			<h1 style="margin-top:50px">Select Person to Display</h1>
			<table style="text-align:center;margin-left:auto;margin-right:auto;"> 
				<tr><td><b>Name:</b></td>
					<td><select name="name" type="text">
						{% for person in person_list %}
							<option>{{ person.name }}</option>
						{% endfor %}
						</select></td></tr>{{ name }}</td></tr>
			</table>
			<button style="text-align:center; margin-top:50px" type = “submit”>Get Chart</button>
		</form>
	</div>
	<div style="text-align:center;margin-left:auto;margin-right:auto;display:table;"> 
		<p>{{ msg }}
		<form action="{% url 'index' %}" method="get">
			<button style="text-align:center; margin-top:50px" type = “submit”>Back to Main Menu</button>
		</form>
	</div>
	{% endblock %}
</body>
</html>